h1{text-align: center; font-family:  Arial, Helvetica, sans-serif; color:darkblue} 


h3{
  text-align: center;
  font-weight: bold;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

.column {
    float: left;
    width: 23%;
    text-align: center;  

  }

#addDollarButton{
  font-size: large;
  width: 150px;

    
}
#addQuarterButton{
  font-size: large;
  width: 150px;

}

#addDimeButton{
  font-size: large;
  width: 150px;

}
#addNickelButton{
  font-size: large;
  width: 150px;

}

#makePurchaseBtn{
  font-size: large;
  width: 200px;
}
#changeBtn {
  align-items: center;
  font-size: large;
}

.row{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 20px;
  text-align: center;
}
#change{
  height: 90px;
}

div{
  row-gap: 30px;
}


  
  